<div class="row">
     
       
    <div class="col-sm-6">
        <app-header></app-header>
    </div>

    
    <div class="col-sm-2">
        <br><br><br><br><br><br>
          <h3 style="text-align:center"><b>Balance in Ether</b></h3><br>
        <h2 style="text-align:center"><b>{{shop_bal}}</b></h2>


       &nbsp; &nbsp; <h3 style="text-align:center"><b>Withdraw</b></h3><br><br>
        <input class="form-control" type="text" id="id1" placeholder="Enter withdraw amount" #withdrawamt ><br>
        
        <button   class="btn center-block" (click)="shop_widthdraw(withdrawamt.value)">withdraw</button>

    </div> 

        <div class="col-sm-4">

        </div>

</div>
<ngx-spinner></ngx-spinner> 